/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.Content {
  flex: 1;
}




.App {
  cursor: none; /* Hide the default cursor */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Prevent the cursor from blocking interactions */
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.custom-cursor:hover {
  background-color: blue;
  transform: scale(1.2);
}
